<div class="col">

    <div class="card h-100 animated fadeIn fast" >
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <div class="d-grid gap-2 ">
          <button (click)="verHeroe()" 
            type="button" class="btn btn-outline-secondary">Ver más...</button>
          <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-secondary">Ver más...</a>  -->
        </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Aparición: {{heroe.aparicion}}</small>
      </div>
    </div>

</div>